@import 'src/global/settings';

.Grid {
    &-vertical,
    &-horizontal {
        position: fixed;
        background-color: $gridGrey;
        opacity: 0.5;
        z-index: 2;
    }

    &-vertical {
        top: 0;
        bottom: 0;
        width: calc(1rem / #{$unit-value});

        &:first-child {
            left: 9.05rem;
        }

        &:nth-of-type(even) {
            left: 50%;
        }

        &:last-child {
            right: 9.05rem;
        }
    }

    &-horizontal {
        left: 0;
        right: 0;
        height: calc(1rem / #{$unit-value});

        &:first-child {
            top: 9rem;
        }

        &:last-child {
            bottom: 9rem;
        }
    }
    &-circleContainer {
        position: absolute;
        top: 9rem;
        left: 9rem;
        width: calc(100vh - 18rem);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        &:before {
            content: '';
            display: block;
            padding-bottom: 100%;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            border: solid 1px $gridGrey;
            border-radius: 500px;
        }
    }
}
